<div class="card mb-3">
  <div class="card-header">
    Event
    <%#= link_to "Delete", event, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
    <%= link_to "Edit", edit_event_path(event), class: "btn btn-success btn-sm" %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div id="<%= dom_id event %>">
          <p>
            <strong>Name:</strong>
            <%= event.name %>
          </p>
          <p>
            <%= event.description %>
          </p>
        </div>
      </div>
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-6">
            <h5 class="text-primary">Election vacant position(s)</h5>
          </div>
          <div class="col-6">
            <div class="text-end">
              <%= link_to "New Position",new_position_path(v: @event), class: 'btn btn-primary', data: { turbo_frame: "remote_modal" } %>
            </div>
          </div>
        </div>
        <br>
        <%= render 'positions/show_position' %>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-6">
            <h5 class="text-primary">Election candidates</h5>
          </div>
          <div class="col-6">
            <div class="text-end">
              <%= link_to "New Candidate",new_candidate_path(v: @event), class: 'btn btn-primary', data: { turbo_frame: "remote_modal" } %>
            </div>
          </div>
        </div>
        <br>
        <%= render 'candidates/show_candidate' %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "Edit", edit_event_path(@event), class: "btn btn-secondary btn-sm" %> |
    <%= link_to "Back", events_path, class: "btn btn-secondary btn-sm" %>
  </div>
</div>
