
<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :required_complete %>
    <%= f.input :allow_single, label: "Single vote disable" %>
    <%= f.input :active %>
    <%= f.input :election %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", events_path, class: "btn btn-secondary" %>
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
