<%= content_tag :h1, "List of Events" %>


<div class="text-end mb-3">
  <%= link_to new_event_path, class: "btn btn-primary" do %>
    New Event
  <% end %>
</div>

  <table class="table table-hover">
    <thead>
      <tr class="border-top border-bottom border-primary">

      <th>#</th>
        <th class="text-primary">Event</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>

        <th scope="row"><%= event.id %></th>
        <td><%= content_tag :strong, event.name %> <br> <%= content_tag :span, "Active", class: "badge bg-success" if event.active? %> <%= content_tag :span, "Election Start", class: "badge bg-primary" if event.election? %> 
        <%= content_tag :span, "Required Complete", class: "badge bg-warning text-dark" if event.required_complete? %> <%= content_tag :span, "Disable Singe Vote", class: "badge bg-warning text-dark" if event.allow_single? %>
        <%= content_tag :span, "Minimum Vote", class: "badge bg-warning text-dark" if event.min_vote? %><br>
        <%= content_tag :small, event.description %></td>
          <td>
            <%= link_to "Activate", activate_event_path(event), method: :post, class: "btn btn-success btn-sm" unless event.active? %>
            <%= link_to "Diactivate", activate_event_path(event), method: :post, class: "btn btn-danger btn-sm" if event.active? %>
            <%= link_to "View", event, class: "btn btn-secondary btn-sm" %>
            <%= link_to "Edit", edit_event_path(event), class: "btn btn-secondary btn-sm" %>
            <% #= link_to "Delete", event, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
