<div class="header">
  <div class="inner-header flex">
    <div class="container">
      <% @events.each do |event| %>
        <div class="col d-flex justify-content-center">
          <div class="card mb-3" style="max-width: 900px;">
            <div class="row g-0">
              <div class="col-md-4">
                <%= image_tag 'cover.jpg', width:'100%', height:'100%', class: "img-fluid rounded-start" %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <div class="text-end">
                    <%= link_to '<i class="bi bi-gear"></i>'.html_safe, event, class: 'text-secondary' %>
                  </div>
                  <h5 class="card-title"><%= event.name %></h5>
                  <p class="card-text"><%= event.description %></p>
                  <%#= coop_event.election %>
                  <% if event.election %>
                    <span class="badge rounded-pill text-bg-success">Election open</span>
                  <% else %>
                    <span class="badge rounded-pill text-bg-secondary">Election close</span>
                  <% end %>
                  <% if event.active %>
                    <span class="badge rounded-pill text-bg-success">Active</span>
                  <% else %>
                    <span class="badge rounded-pill text-bg-secondary">Disable</span>
                  <% end %>
                  <%# @eh = Eventhub.where(coop_event_id: coop_event) %>
                  <%#= simple_form_for(@coop) do |f| %>
                    <%#= f.select :cooperative, prompt: "Select a cooperative", collection: Cooperative.order(:name), input_html: { class: 'form-select',  controller: "ts--select" }  %>
                    <%# end %>
                    <br class="mb-3">
                    <%= link_to 'Vote', voter_code_path(p: event), class: 'btn btn-primary btn-lg' if event.election %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
