<div class="container flex">
  <div class="card" style= "max-width: 600px;">
    <%= image_tag 'cooptechlogo.png', width: 200, class: 'mb-2 mb-lg-0 me-2' %>
    <div class="card-body">
      <%= simple_form_for @election, url: enter_code_path(p: params[:p]), method: :post do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs mb-5" style="text-align: center;">
          <div class="form-inputs mb-3">
            <%= f.input :voter_code, label: "Enter your voter code", style: "text-align: center;" %>
          </div>
          <div class="form-actions text-end">
            <%= f.button :submit, class: "btn btn-success btn-lg", value: "Vote" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
