<div class="voter-code-page">
  <div class="voter-code-card">
    <div class="voter-code-card__header">
      <%= image_tag "evoting.png", class: "voter-code-card__logo", alt: "e-Voting" %>
      <h1 class="voter-code-card__event-name"><%= @my_event.name %></h1>
    </div>

    <div class="voter-code-card__body">
      <p class="voter-code-card__title">Enter your voter code to cast your vote</p>

      <%= simple_form_for @election, url: enter_code_path(p: params[:p]), method: :post do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <% if current_user %>
            <%= f.association :member,
                              collection: @my_event.members,
                              label: "Member",
                              error: "*Required",
                              input_html: { data: { controller: "ts--select" } } %>
          <% end %>

          <%= f.input :voter_code,
                      label: "Voter code",
                      placeholder: "Enter code",
                      input_html: { style: "text-align: center;", autocomplete: "off" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: "btn btn-success btn-submit", value: "Continue" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
