<div id="<%= dom_id candidate %>">
  <p>
    <strong>Event:</strong>
    <%= candidate.event_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= candidate.position_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= candidate.name %>
  </p>

  <p>
    <strong>Remark:</strong>
    <%= candidate.remark %>
  </p>

</div>
