
<%= simple_form_for(@vote, url: url, method: meth) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%#= f.association :event %>
    <%#= f.association :candidate %>
    <%#= f.association :member %>
    <%#= f.association :position %>
    <%#= f.input :vote_amount %>
    <%#= f.input :station %>
  </div>
  <h5>
    <strong>Candidate:</strong>
    <%= @vote.candidate %>
  </h5>
  <p>
    <strong>Position:</strong>
    <%= @vote.position%>
  </p>

  <div class="form-actions text-end">
    <%= link_to "Back", page_vote_url(i: @member, p: @position), class: "btn btn-secondary" %>
    <%= link_to "Confirm", save_vote_votes_path(m: @vote.member, c: @vote.candidate), class: "btn btn-primary" %>
    <%#= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
