
<%= simple_form_for(@vote, url: url, method: meth) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :event %>
    <%= f.hidden_field :candidate %>
    <%= f.hidden_field :member %>
    <%= f.hidden_field :position %>
    <%#= f.input :vote_amount %>
    <%#= f.input :station %>
  </div>
  <p>
    <strong>Candidate:</strong>
    <%= @vote.candidate %>
  </p>
  <p>
    <strong>Position:</strong>
    <%= @vote.position%>
  </p>

  <div class="form-actions text-end">
    <%= link_to "Back", page_vote_url(i: @member, p: @position), class: "btn btn-secondary" %>
    <%= link_to "Vote", save_vote_votes_path(m: @vote.member, c: @vote.candidate), class: "btn btn-success" %>
    <%#= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
