<div id="<%= dom_id vote %>">
  <p>
    <strong>Event:</strong>
    <%= vote.event_id %>
  </p>

  <p>
    <strong>Candidate:</strong>
    <%= vote.candidate_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= vote.member_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= vote.position_id %>
  </p>

  <p>
    <strong>Vote amount:</strong>
    <%= vote.vote_amount %>
  </p>

  <p>
    <strong>Station:</strong>
    <%= vote.station %>
  </p>

</div>
