<%= content_tag :h2, @event.name %>
<%= content_tag :h4, 'Election Result' %>
<% d = DateTime.now %>
<%# d.strftime("%d/%m/%y %H:%M") %>
<%= content_tag :p, d.strftime("%m/%d/%Y %H:%M")  %>
<%= content_tag :p, 'The result of the election are as follows:' %>
<% @positions.each do |pos| %>
  <%= content_tag :h4, pos.name, class: "text-primary" %>
  <div class="col-6">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th> Name </th>
          <th> Votes </th>
        </tr>
      </thead>
      <tbody>
        <%# @vote = Vote.group(:candidate_id).where(position: pos, post: 1).count %>
        <% @vote = Vote.group(:candidate_id).where(position: pos, post: 1).order('count_id desc').count('id') %>
        <% @vote.each do |v| %>
          <tr>
            <% @candidate = Candidate.find(v[0]) %>
            <td> <%= @candidate %> </td>
            <td> <%= to_curr(v[1]) %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<p>Total number of voters <%= to_curr(@count_voter) %></p>
<%= content_tag :p, 'Certified by' %> <br>
<%= content_tag :p, '1CISP Representative' %>
