<div class="alert alert-success" role="alert">
  <i class="bi bi-check-circle"></i>
  Please check your votes.
</div>
<div class="text-end">
  <%= link_to '<i class="bi bi-box-seam"></i> Save Votes'.html_safe , vote_final_votes_path(m: @member), class: 'btn btn-success btn-lg' %>
</div>
<div class="row">
  <% @positions.each do |p| %>
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <strong class="text-primary"> <%= p.name %> </strong><br>
          <%= link_to "Change", page_vote_url(i: @member, p: p), class: 'btn btn-warning btn-sm' %>
        </div>
        <% @votes = Vote.where(position: p, member: @member) %>
        <ul class="list-group list-group-flush">
          <% @votes.each do |v| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-4">
                  <%= image_tag v.candidate.picture, width: "100%", height: "50", class: "img-fluid rounded-start" if v.candidate.picture.attached? %>
                </div>
                <div class="col-8">
                  <strong> <%= v.candidate %> </strong> 
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
