<div id="<%= dom_id member %>">
  <p>
    <strong>Event:</strong>
    <%= member.event_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= member.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= member.description %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= member.area %>
  </p>

  <p>
    <strong>Voted:</strong>
    <%= member.voted %>
  </p>

  <p>
    <strong>Vote date:</strong>
    <%= member.vote_date %>
  </p>

  <p>
    <strong>Station:</strong>
    <%= member.station %>
  </p>

</div>
